{% extends "calculator/base.html" %}
{% block content %}
<div class="style-clean">
  <h1 style="text-align:center;color:#505E6C;">About</h1>
  <p class="text-muted" style="text-align:center;padding: 2% 15%">
    Our mission is to provide students from across the United States with an accurate, reliable Snow Day calculator.
    Using real-time weather updates and Google's location API, our advanced algorithm uses several data points
    to produce the most accurate prediction possible. Though Snow Day decisions ultimately come from individual school administations,
    our calculator is a formulaic indicator of Snow Day likelihood. <i>Created by Colin and Trey Brosnan.</i>
</p>
</div>
{% endblock content %}
