{% extends "calculator/base.html" %}
{% block content %}
<div class="login-clean">
    <form data-bss-recipient="95462039939583fe6fef7ad2e6cdb868">
        <h2 class="text-center">Contact us</h2>
        <div class="form-group">
          <label class="contact-label">Name</label>
          <input class="form-control" type="text" name="name" placeholder="John Doe" required="">
        </div>
        <div class="form-group">
          <label class="contact-label">Email</label>
          <input class="form-control" type="email" name="email" placeholder="email@example.com" required="">
        </div>
        <div class="form-group">
          <label class="contact-label">Message</label>
          <textarea class="form-control" name="message" placeholder="Message" rows="14" required="" minlength="10"></textarea>
        </div>
        <div class="form-group">
          <button class="btn calculate-button btn-block" type="submit">Send</button>
        </div>
    </form>
</div>

<style media="screen">
  .contact-label {
    margin-top: 10px;
  }
</style>
{% endblock content %}
