{% extends "calculator/base.html" %}
{% block content %}
<div class="style-clean">
<h1 style="text-align:center;color:#505E6C;">Privacy Policy and Terms of Use</h1>
<p class="text-muted" style="text-align:center;padding: 2% 15%;">As we developed our application using Google's Places API, we are compliant with the guidlines
outlined in section 3.2.3(a) of the Google Maps Platform Terms of Service. By using SnowCalc.io, you are
hereby bound by Google's Terms of Service and Google's Privacy Policy. <strong>SnowCalc does not store, share, or sell any information from our users.</strong>
This includes, but is not limited to, location and school information.</p>
</div>
{% endblock content %}
