.asteriskField {
    display: none;
}

.explanation {
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 35%;
  margin: 0 auto;
}

.explanation.explanation-narrow{
    max-width: 45%;
}

#thanks {
  font-size: smaller;
  font-weight: bold;
}

.calculate-button {
  background: #65d7d7;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none !important;
}

.calculate-button:hover {
  color: #fff;
  font-weight: bold;
}

.calculate-button:active {
  transform: translateY(1px);
}

.construction-logo-container {
  text-align: center;
  font-size: 100px;
  padding: 15px;
  color: black;
}

.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loader > i {
  color: #65d7d7;
  font-size: 175px;
}

.style-clean {
  background: #f1f7fc;
  padding: 80px 0;
}
